name: ZAP API Scan

on:
  workflow_dispatch:

jobs:
  zap-api-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run ZAP API Scan
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/zap/wrk \
            -t owasp/zap2docker-api-scan:latest \
            -t https://demo.testfire.net/swagger/v2/swagger.json \
            -f openapi \
            -r zap_report.html \
            -w zap_report.md \
            -x zap_report.xml \
            -J zap_report.json \
            -d \
            -a \
            -z "-config ajaxSpider.browserId=firefox -config scanner.threadPerHost=5 -config spider.thread=5"
      
      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-HTML-Report
          path: zap_report.html

      - name: Upload XML Report
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-XML-Report
          path: zap_report.xml

      - name: Upload JSON Report
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-JSON-Report
          path: zap_report.json

      - name: Upload Markdown Report
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-MD-Report
          path: zap_report.md
