name: ZAP API Scan

on:
  workflow_dispatch:

jobs:
  zap-api-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create output folder
        run: mkdir -p zap-output

      - name: Run ZAP API Scan
        run: |
          docker run --rm \
            -v "$(pwd)":/zap/wrk \
            ghcr.io/zaproxy/zaproxy:stable \
            python3 /zap/zap-api-scan.py \
              -t "https://demo.testfire.net/swagger/properties.json" \
              -f openapi \
              -d \
              -I \
              -r /zap/wrk/zap-output/zap-report.html \
              -J /zap/wrk/zap-output/zap-report.json

      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-html-report
          path: zap-output/zap-report.html

      - name: Upload JSON Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-json-report
          path: zap-output/zap-report.json
